<% content_for :title do %>About<% end %>
<h3> About Jaime </h3>
<p> Nacido en 1991 en la ciudad española de Melilla (situada al norte de África), el estudiante universitario Jaime Valverde siempre ha mostrado interés por todo lo relacionado con la tecnología y la creatividad </p>
<p>Su cita favorita es: "Tanto si crees que puedes, como si crees que no, estás en lo cierto"</p>
<p> Este es un texto de relleno hue hue hue</p>